* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
}

.titulo-principal {
  padding-left: 30px;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner {
  width: 60%;
}

.principal {
  background: #cccccc;
  padding: 20px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

em strong {
  color: red;
}

#mision {
  font-size: 20px;
}

.diferenciales {
  background: #ffffff;
  padding: 30px;
}

.items {
  font-style: italic;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagenDiferenciales {
  width: 20%;
}

.footer {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
}

.footer ul {
  list-style: none;
  display: flex;
}
