body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #bbbbbb;
  padding: 20px 0;
}

.caja {
  width: 80%;
  position: relative;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.products {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.products li {
  display: inline-block;
  text-align: center;
  width: 28%;
  height: 380px;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: #000 solid 2px;
  border-radius: 10px;
}
.products img {
  width: 100%;
}
.products li:hover {
  border-color: #c78c19;
}

.products h2 {
  font-size: 30px;
  font-weight: bold;
}

.products li:hover h2 {
  font-size: 33px;
}

.products-description {
  font-size: 18px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  text-align: center;
  background: url(asset/bg.jpg);
  padding: 40px;
}

.copyright {
  color: white;
  font-size: 13px;
  margin: 20px;
}

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padron {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}
.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 5px;
  transition: 2s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  transform: scale(1.2);
}

table {
  margin: 40px 40px;
}

thead {
  background: #555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000;
  padding: 8px;
}
/*CSS para nuestro home*/

.banner {
  width: 100%;
}
.principal {
  padding: 2em 0;
  width: 940px;
  margin: 0 auto;
}
.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.principal p {
  margin: 0 0 1em;
  font-size: 18px;
  line-height: 25px;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}
.utensilios {
  width: 180px;
  float: left;
  margin: 20px;
  border-radius: 10px;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#ffff, rgb(199, 199, 199));
}
.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.mapa-contenido {
  width: 940px;
  margin: 0 auto;
}

.diferenciales {
  padding: 3em 0;
  background: rgb(199, 199, 199);
}
.contenido-diferenciales {
  width: 640px;
  margin: 0 auto;
  display: flex;
}

.lista-diferenciales {
  width: 40%;
}

.items {
  line-height: 1.5em;
}

.items::before {
  content: "✀ ";
}
.items:first-child::before {
  content: "";
}
.items:first-child {
  font-weight: bold;
  padding-bottom: 8px;
}

.imagen-diferenciales {
  width: 60%;
  transition: 400ms;
  border-radius: 10px;
  box-shadow: -1px -1px 32px 6px #090404ad;
}

.imagen-diferenciales:hover {
  opacity: 0.7;
}

.video {
  width: 940px;
  margin: 1em auto;
}
